# Ignore JavaScript files from language statistics
*.js linguist-vendored
*.jsx linguist-vendored
*.json linguist-vendored
*.css linguist-vendored

package-lock.json linguist-vendored

# Mark Python files as detectable
*.py linguist-detectable