# LiveKit Agent Configuration
# Copy to .env and fill with your REAL values

# LiveKit Server (required for voice agents) follow the https://livekit.io/ 
LIVEKIT_URL=wss://your-livekit-server.livekit.cloud
LIVEKIT_API_KEY=your_livekit_api_key_here
LIVEKIT_API_SECRET=your_livekit_api_secret_here

SIP_TRUNK_ID =  your_trunk_id #https://drive.google.com/file/d/1wXdQO4aQ-8XPfm5xKNUk84KQsAzwTfPO/view?usp=sharing
