# LiveKit Agent Configuration
# Copy to .env and fill with your REAL values

# LiveKit Server (required for voice agents) follow the https://livekit.io/ 
LIVEKIT_URL=wss://your-livekit-server.livekit.cloud
LIVEKIT_API_KEY=your_livekit_api_key_here
LIVEKIT_API_SECRET=your_livekit_api_secret_here

SIP_TRUNK_ID =  your_trunk_id # follow the https://drive.google.com/file/d/1lO9HRuvdpB03v379Y42VOcWSu-RQIzAX/view?usp=sharing 
